@use '../bases/colours' as c;
@use '../bases/variables' as v;
@use '../bases/media' as *;

.bioPage {
    // Uses basicPageLayout as base
    &__hero {
        width: 100%;
        //min-height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 110px 20px 40px 20px;
        
        // @include respond('mobile') {
        //     //min-height: 20vh;
        //     padding: 40px 20px;
        // }
    }
    
    &__container {
        max-width: 800px; // Professional reading width
        margin: 0 auto;
        padding: 30px 30px;
        flex: 1;
        
        @include respond('tablet') {
            padding: 20px 20px;
        }
        
        @include respond('mobile') {
            padding: 20px 20px;
        }
    }
    
    &__content {
        margin-bottom: 40px;
        
        h1 {
            margin-bottom: 20px;
        }
        
        p {
            line-height: 1.6;
            margin-bottom: 20px;
        }
    }
    
    &__skills,
    &__experience {
        margin-top: 40px;
    }
    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: auto;
        //min-height: 140px;
        
        
    }
}