@use '../../sass/bases/_colours.scss' as *;

  
//================================= Universal MODE =======================================//
a :link {
    color: $dark-0;
}

//================================= DARK MODE =======================================//

//================================= LIGHT MODE =======================================//
.light {
    //========= modal.js ============//
    .modal-header {
        background: rgba(64, 64, 64, 0.3);
    }
};
